body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 60px 0 0 0;
}

canvas {
  width: 100%;
  height: 1000px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1000px;
  gap: 20px;
}

.accerate-button {
  font-size: 18px;
  width: 300px;
  height: 60px;
  padding: 10px 20px;
  z-index: 1000;
  background-color: #333333;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  color: #ffffff;
}

.accerate-button:active {
  background-color: #111111; /* Darker yellow when clicked */
  color: #000000;
}

.accerate-button:not(:hover) {
  box-shadow: none;
}

.bottombar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1000px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#revbar {
  margin: 20px;
  width: 400px;
  height: 8px;
}

#myProgress {
  width: 700px;
  flex: 1;
  background-color: grey;
}

#myBar {
  width: 100%;
  height: 60px;
  background-color: black;
}
